
@{
    var user = Session["username"];
    if (Session["username"] == null || Session["user_id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }


}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Custom styles for this template -->

    <link href="~/Content/styles/style-homepage.css" rel="stylesheet" />
    <link href="~/Content/styles/details.css" rel="stylesheet" />
    <link href="~/Content/styles/pagination.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
  
    <script src="~/Scripts/common/jquery.blockUI.js"></script>
    @*<script src="//code.jquery.com/jquery.min.js"></script>*@
    <link href="~/Scripts/rateit.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>*@
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Admin/Admin">OnlineLibrary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Admin/Admin">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <h5 class="dropdown-header">Quản lý Ebooks</h5>
                            <a class="dropdown-item" href="http://localhost:52385/ManageSubjectEbook/Index">Quản lý bộ môn</a>
                            <a class="dropdown-item" href="http://localhost:52385/Admin/ManageUploadEbook">Quản lý Upload</a>
                            <div class="dropdown-divider"></div>
                            <h5 class="dropdown-header">Quản lý Tiểu luận</h5>
                            <a class="dropdown-item" href="http://localhost:52385/ManageSubEssayOfAdmin/Index">Quản lý bộ môn</a>
                            <a class="dropdown-item" href="http://localhost:52385/ManageUploadEssayOfAdmin/Index">Quản lý Upload</a>
                            <div class="dropdown-divider"></div>
                            <h5 class="dropdown-header">Quản lý Khóa luận</h5>
                            <a class="dropdown-item" href="http://localhost:52385/ManageSubThesisOfAdmin/Index">Quản lý bộ môn</a>
                            <a class="dropdown-item" href="http://localhost:52385/ManageUploadThesisOfAdmin/Index">Quản lý Upload</a>
                        </div>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0 search-container" action="/Search/Index">
                    <input class="form-control mr-sm-2 searchData" type="text" placeholder="Search" aria-label="Search" name="search" id="searchData">
                    <button class="btn btn-outline-success my-2 my-sm-0 search" type="submit" id="search">Search</button>
                </form>
                @*<form class="form-inline my-2 my-lg-0 " action="/Search/Index">
                        <input type="text" placeholder="Search.." name="search" id="searchData">
                        <button type="submit" id="search"><i class="fa fa-search"></i></button>
                    </form>*@
                <ul class="navbar-nav mr-sm-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle" style="font-size:30px"></i>
                        </a>
                        <div class="dropdown-menu" style="margin-left: -50px;" aria-labelledby="navbarDropdown">
                            <div class="dropdown-item">
                                <h5>Hi @Session["fullname"]</h5>
                                <div id="fullname" hidden>@Session["fullname"]</div>
                                <small>Tài khoản: <span>@Session["username"]</span></small>
                            </div>
                            <lable hidden id="userid">@Session["user_id"]</lable>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="logout">Logout</a>
                            <script>
                                $(document).ready(function () {
                                    $("#logout").click(function () {
                                        $.ajax({
                                            type: 'GET',
                                            url: '/api/LoginAPI/Logout',
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            success: function (response) {
                                                window.location.href = response;
                                            }
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    @RenderBody()

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Library Online 2019</p>
        </div>

        <!-- /.container -->
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/common/pagination.js"></script>
    <script src="~/Scripts/common/pagination.min.js"></script>
    <script type='text/javascript' src='~/Scripts/common/knockout-3.5.0.js'></script>
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script src="~/Scripts/jquery.rateit.js"></script>
    <script src="~/Scripts/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dist/ez.countimer.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</body>

</html>


