@{
    var user = Session["username"];
    if (Session["username"] == null || Session["user_id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }


}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thư viện Online FIT</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/img/books.png" />

    <!-- Bootstrap core CSS -->
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Custom styles for this template -->

    <link href="~/Content/styles/style-homepage.css" rel="stylesheet" />
    <link href="~/Content/styles/details.css" rel="stylesheet" />
    <link href="~/Content/styles/common.css" rel="stylesheet" />
    <link href="~/Content/styles/pagination.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @*<script src="~/Scripts/popper.min.js"></script>*@
    <script src="~/Scripts/common/jquery.blockUI.js"></script>
    @*<script src="//code.jquery.com/jquery.min.js"></script>*@
    <link href="~/Scripts/rateit.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <link href="~/Scripts/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/responsive.bootstrap4.min.css" rel="stylesheet" />


    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet" />*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>*@
    <style>
        .mar_bottom {
            margin-bottom: 5px;
        }

        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Student">Thư viện Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Student">Trang chủ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Student/Readed?id=@Session["user_id"]">Tài liệu đã đọc</a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0 search-container" action="/Search/Index">
                    <input class="form-control mr-sm-2 searchData" type="text" placeholder="Tìm kiếm" aria-label="Search" name="search" id="searchData" style="width: 450px;">
                    <button class="btn btn-success my-2 my-sm-0 search" type="submit" id="search">Tìm kiếm</button>
                </form>
                <ul class="navbar-nav mr-sm-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="imageUser" style="width: 50px;height: 50px;border-radius: 30px;">
                        </a>
                        <div class="dropdown-menu" style="margin-left: 0px;" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" data-toggle="modal" data-target="#changeInfo">
                                <div id="fullnameUser"></div>
                                <small><span id="username">@Session["username"]</span></small>
                            </a>
                            <lable id="userid" hidden>@Session["user_id"]</lable>
                            <a class="dropdown-item" data-toggle="modal" data-target="#changPass">Đổi mật khẩu</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="logout">Đăng xuất</a>
                            <script>
                                $(document).ready(function () {
                                    $("#logout").click(function () {
                                        $.ajax({
                                            type: 'GET',
                                            url: '/api/LoginAPI/Logout',
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            success: function (response) {
                                                window.location.href = response;
                                            }
                                        });
                                    });
                                });
                            </script>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal" id="changPass">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thay đổi mật khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Tạo môn học -->
                <div id="modal" class="modal-body">
                    <form id="formEbook" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="text">Mật khẩu cũ:</label>
                            <input type="password" class="form-control" id="passOld" name="passOld">
                            <span toggle="#passOld" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            @*<input type="password" class="form-control" id="passOld" placeholder="Mật khẩu cũ" name="passOld">*@
                        </div>
                        <div class="form-group">
                            <label for="text">Mật khẩu mới:</label>
                            <input type="password" class="form-control" id="passNew" name="passNew">
                            <span toggle="#passNew" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            @*<input type="password" class="form-control" id="passNew" placeholder="Mật khẩu mới" name="passNew">*@
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button id="btnSave" type="button" class="btn btn-primary" style="width: 70px;">Lưu</button>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="changeInfo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thông tin cá nhân</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Tạo môn học -->
                <div id="modal" class="modal-body">
                    <form id="formInfo" method="post" enctype="multipart/form-data">
                        <div class="form-row mar_bottom">
                            <div class="row col-md-6">
                                <div class="col-md-3"> <label for="text">Email:</label></div>
                                <div class="col-md-9"> <input type="email" class="form-control" id="emailuser" name="emailuser" readonly style="background-color: antiquewhite;"></div>
                            </div>
                            <div class="row col-md-6">
                                <div class="col-md-3">  <label for="text" style="width: 86px;">Mật khẩu:</label></div>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="pass" name="pass" readonly style="background-color: antiquewhite;">
                                    <span toggle="#pass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    @*<input type="password" class="form-control" id="pass" name="pass" readonly style="background-color: antiquewhite;">
        <input type="checkbox" id="showPassWord" />*@
                                </div>
                            </div>
                        </div>
                        <div class="form-row mar_bottom">
                            <div class="row col-md-6">
                                <div class="col-md-3"> <label for="text">Họ tên:</label></div>
                                <div class="col-md-9"> <input type="text" class="form-control" id="nameUser" name="nameUser"></div>
                            </div>
                            <div class="row col-md-6">
                                <div class="col-md-3">  <label for="text">MSSV:</label></div>
                                <div class="col-md-9"><input type="text" class="form-control" id="classid" name="classid" readonly style="background-color: antiquewhite;"></div>
                            </div>
                        </div>
                        @*<div class="form-row mar_bottom">
                                <div class="row col-md-6">
                                    <div class="col-md-3"> <label for="text">Họ tên:</label></div>
                                    <div class="col-md-9"> <input type="text" class="form-control" id="nameUser" name="nameUser"></div>
                                </div>
                            </div>*@
                        <div class="form-group mar_bottom">
                            @*<label for="text">Browser</label>
                                <input type="file" name="Files" id="fileInput" />*@
                            <input type="file" onchange="previewFile()" multiple id="fileInputImage" style="margin-bottom: 5px;margin-top: 5px;"><br>
                            <img id="imguserinfo" style="width: 30%;height: 15%;" alt="Image preview...">
                        </div>
                        @*<div class="form-group mar_bottom">
                                <div style="width:180px;height:180px;"><img id="ImageUser" src="http://placehold.it/180" alt="your image" /></div>
                            </div>*@
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button id="btnSaveInfo" type="button" class="btn btn-primary" style="width: 70px;">Lưu</button>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-info">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Thư viện Online 2019</p>
        </div>

        <!-- /.container -->
    </footer>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>"
    <script src="~/Scripts/responsive.bootstrap4.min.js"></script>"



    <script src="~/Scripts/common/pagination.js"></script>
    <script src="~/Scripts/common/pagination.min.js"></script>
    <script type='text/javascript' src='~/Scripts/common/knockout-3.5.0.js'></script>
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script src="~/Scripts/jquery.rateit.js"></script>
    <script src="~/Scripts/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dist/ez.countimer.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script>
       function previewFile() {
            //var preview = document.querySelector('#imguserinfo'); //selects the query named img
            var file = document.querySelector('input[type=file]').files[0]; //sames as here
            var reader = new FileReader();

            reader.onloadend = function () {
                //preview.src = reader.result;
                $("#imguserinfo").attr("src", reader.result);
            }

            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            }
        }
        $(document).ready(function () {
         $(document).ajaxStop($.unblockUI); 
             //load thông tin lên form user info
            var fname;
            var img;
            $.ajax({
                type: 'GET',
                url: '/api/LoginAPI/GetPassByUserId?id=' + @Session["user_id"],
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#pass").val(result.pass);
                    $("#nameUser").val(result.fullname);
                    $("#emailuser").val(result.username);
                    $("#classid").val(result.classid);
                    fname = result.fullname;
                    debugger
                    img = result.image;
                    $("#fullnameUser").empty()
                    $("#fullnameUser").append('<h5>Hi ' + result.fullname + '</h5>');
                    if (result.image != null) {
                        //$("#imageUser").append('<img src="/Content/imageUser/' + img +  '" style="width: 50px;height: 50px;">');
                        $("#imageUser").attr("src", "/Content/imageUser/" + result.image);
                        $("#imguserinfo").attr("src", "/Content/imageUser/" + result.image);

                    } else {
                        $("#imageUser").attr("src", "/Content/imageUser/no_images.png");
                        $("#imguserinfo").attr("src", "/Content/imageUser/no_images.png");
                    }
                }
            });
            //$('#showPassWord').click(function () {
            //    if ($(this).prop("checked") == true) {
            //        $("#pass").attr("type", "text");
            //    }
            //    else if ($(this).prop("checked") == false) {
            //        $("#pass").attr("type", "password");
            //    }
            //});
            $(".toggle-password").click(function () {

                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
            var warnOptions = {
                autoHideDelay: 1000,
                showAnimation: "fadeIn",
                hideAnimation: "fadeOut",
                hideDuration: 700,
                arrowShow: false,
                className: "warn",
            };
            var successOptions = {
                autoHideDelay: 1000,
                showAnimation: "fadeIn",
                hideAnimation: "fadeOut",
                hideDuration: 700,
                arrowShow: false,
                className: "success",
            };
            var errorOptions = {
                autoHideDelay: 1000,
                showAnimation: "fadeIn",
                hideAnimation: "fadeOut",
                hideDuration: 700,
                arrowShow: false,
                className: "error",
            };

            $("#btnSave").click(function () {
                debugger
                var model = {};
                model.email = $("#username").html();
                model.passOld = $("#passOld").val();
                model.passNew = $("#passNew").val();
                if ($("#passOld").val() == "" || $("#passOld").val() == null) {
                    $("#passOld").focus();
                    $.notify("Bạn phải nhập mật khẩu cũ!", warnOptions);
                    return;
                }
                if ($("#passNew").val() == "" || $("#passNew").val() == null) {
                    $("#passNew").focus();
                    $.notify("Bạn phải nhập mật khẩu mới!", warnOptions);
                    return;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/api/LoginAPI/ChangePass',
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        success: function (result) {
                            if (result.isSuccess) {
                                $.notify(result.message, successOptions);
                                window.location.href = "/Login/Index";
                            } else {
                                $.notify(result.message, errorOptions);
                            }
                        }
                    });
                }

            });

             previewFile();  //calls the function named previewFile()
            $("#btnSaveInfo").click(function () {
                debugger
                if ($("#nameUser").val() == "" || $("#nameUser").val() == null) {
                    $("#nameUser").focus();
                    $.notify("Họ tên không được để trống!", warnOptions);
                    return;
                }
                else {
                    debugger
                    var test_value = $("#fileInputImage").val();
                    var extension = test_value.split('.').pop().toLowerCase();

                    if (test_value != "") {
                        if ($.inArray(extension, ['png', 'gif', 'jpeg', 'jpg']) == -1) {
                            $.notify("File ảnh không hợp lệ!", warnOptions);
                            return;
                        }
                    }

                    var files = $("#fileInputImage").get(0).files;
                    var data = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        data.append("fileInputImage", files[i]);
                    }
                    data.append("userid", @Session["user_id"]);
                    data.append("fileInputImage", files);
                    data.append("fullname", $("#nameUser").val());
                    $.ajax({
                        type: 'POST',
                        url: '/api/AdminAPI/ChangeInfo',
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            debugger
                            @*@Session["fullname"] = result.fullname;
                            @Session["image"] = result.image;*@
                            sessionStorage.removeItem("imguser");
                            sessionStorage.removeItem("fullname");
                            sessionStorage.setItem("imguser", result.image);
                            sessionStorage.setItem("fullname", result.fullname);
                            var img = result.image;
                            if (img) {
                                //$("#imageUser").append('<img src="/Content/imageUser/' + img +  '" style="width: 50px;height: 50px;">');
                                $("#imageUser").attr("src", "/Content/imageUser/" + img);
                            } else {
                                $("#imageUser").attr("src", "/Content/imageUser/no_images.png");
                            }

                            $("#fullnameUser").empty();
                            $("#fullnameUser").append('<h5>Hi ' +  result.fullname + '</h5>');
                            $.notify("Cập nhật thông tin thành công!", successOptions);
                        }
                    });
                }

            });
        });
    </script>

</body>

</html>


