
@{
    var user = Session["username"];
    if (Session["username"] == null || Session["user_id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["role_id"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["role_id"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_LayoutLecturer.cshtml";
    }
    if (Session["role_id"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    }

}
<!-- Page Content -->
<style>
    .class1 {
        margin-left: 10px;
        margin-right: 4px;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel" style="width:1140px;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="http://placehold.it/1140x350" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--          tạo các tab liên quan-->
            <div id="navigation">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Ebooks</a></li>
                    <li class="breadcrumb-item active">Product</li>
                </ul>
            </div><!-- navigation -->
            @*<h1 class="khoangcachduoi">Products</h1>*@
            <div class="row" id="detail" style="float:left;width:60%">
                <script>
     // load data
    $(document).ready(function () {
        var val = '@ViewBag.ID';
        $.ajax({
            type: "GET",
            url: "http://localhost:52385/api/AdminAPI/GetFileEssayById",
            data: { essay_id: val },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (v) {
                console.log(v);

               var data = "<div class='col-lg-12 ' >";
                data += "<div class='border' style='margin-bottom: 20px;'>";
                data += "<div  id='info_details' style='margin-left: 20px; margin-right:20px;'>";
                //data += "<div class='col-lg-6>";
                data += "<h2>" + v.title + "</h2>";
                data += "<p><b>GVHD: </b>" + v.instructor + "</p>";
                data += "<p><b>Sinh viên: </b>" + v.executor1 + " - " + v.executor2 + "</p>";
                //data += "<p><b>Sinh viên:: </b>" + v.executor2 + "</p>";
                data += "<div class ='d-flex '>";
                data += "<p>Lượt xem: " + v.countView + "</p>";
                data += "&nbsp | &nbsp ";
                data += "<p>Lượt tải: " + v.countDowload + "</p>";
                data += " </div>";
                //data += "<p><b>Năm xuất bản: </b>" + v.year + "</p>";
                //data += "<div id='rate' class='rateit'></div>";
                data += "<div id='button_details' class ='d-flex justify-content-center'>";
                data += "<p id='pdf-link' hidden='hidden'>/Content/Upload/" + v.filename+"</p>";
                //data += "<button type='button' class='btn btn-info' style='width: 100px;'><a href='/ReadFileDetails/Essay?essay_id=" + v.essay_id + "'" +
                //    "style='color:white;text-decoration: none;' data-bind='text:title'>Xem</a></button>";

                //data += `<a href="/Content/Upload/${v.filename}" ><input type="button" value="Download" /></a >`
                //data += `<button type='button' class='btn btn-info' style='width: 100px;'><a href=/Content/Upload/${v.filename } style='color:white;text-decoration: none;'>Dowload</a></button>`;
                data += "<button id='btnViewBook'  type='button' class='btn btn-info' style='width: 100px;' >Xem</button>";
                data += "<div id='countView' hidden='hidden' >" + v.countView + "</div>";
                //data += `<a href="/Content/Upload/${v.filename}" download><input type="button" value="Download" /></a >`
                data += `<button id='btnDowBook' type='button' class='btn btn-info' style='width: 100px; margin-left:10px'><a href="/Content/Upload/${v.filename}" download style='color:white;text-decoration: none; '>Dowload</a></button>`;
                data += "<div id='countDowload' hidden='hidden'>" + v.countDowload + "</div>";
                data += " </div>"
               
                data += " <hr align='center'>";
                data += "<div><h2>Mô tả:</h2>";
                data += "<p>" + v.describe + "</p>";
                data += "</div ></div ></div >";
                $("#detail").append(data);
                 $("#btnViewBook").click(function () {
                                    debugger

                                     var view = parseInt($("#countView").text()) + 1;

                                    var model = {};
                                     model.ID = '@ViewBag.ID';
                                     model.count = view;
                                     console.log("countView", model);
                                    $.ajax({
                                        type: "POST",
                                        url: "/api/AdminAPI/UpdateViewEssay",
                                        data: JSON.stringify(model),
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (v) {
                                           // $("#countView").val(view);
                                        }
                                    });
                                    window.location.href = "/ReadFileDetails/Essay?essay_id=" + '@ViewBag.ID';
                                });
                                $("#btnDowBook").click(function () {
                                    debugger

                                    var dow = parseInt($("#countDowload").text()) + 1;

                                    $("#countDowload").html(dow);
                                    var model = {};
                                     model.ID = '@ViewBag.ID';
                                    model.count = dow;
                                    $.ajax({
                                        type: "POST",
                                        url: "/api/AdminAPI/UpdateDowEssay",
                                        data: JSON.stringify(model),
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (v) {
                        }
                    });
                });
            }
        });


    function openPDF(link) {
        //alert(link);
        if (link) {
            window.open(link);
        }
    }

    $("body").on('click','#read',function () {
        openPDF($('#pdf-link').text());
    });
    });
                </script>

            </div>
            <div class="row" style="margin-top:20px;">
                <div class='col-md-12'>
                    <div class='border'>
                        <div class="row" id='info_details' style="height:300px">
                            <div class="col-md-4">
                                <div style="background-color:lightskyblue;font-size:20px;text-align:center"><b>Đánh giá:</b></div>
                                <div style="text-align:center">
                                    <div class="rateit" id="rateit_star1" data-rateit-step="1" data-productid="123"></div>
                                    <button id="btnRate" type="button" class="btn btn-info">Gửi</button>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div style="background-color:lightskyblue;font-size:20px;text-align:center"><b>Thống kê:</b></div>
                                <div class="row">
                                    <div class="rateit col-md-6" data-rateit-value="5" data-rateit-readonly="true"></div>
                                    <div class="col-md-6"><a href="" data-toggle="modal" data-target="#myModal5"><span id="fiveStar"></span> đánh giá</a></div>
                                </div>
                                <div class="row">
                                    <div class="rateit col-md-6" data-rateit-value="4" data-rateit-readonly="true"></div>
                                    <div class="col-md-6"><a href="" data-toggle="modal" data-target="#myModal4"><span id="fourStar"></span> đánh giá</a></div>
                                </div>
                                <div class="row">
                                    <div class="rateit col-md-6" data-rateit-value="3" data-rateit-readonly="true"></div>
                                    <div class="col-md-6"><a href="" data-toggle="modal" data-target="#myModal3"><span id="threeStar"></span> đánh giá</a></div>
                                </div>
                                <div class="row">
                                    <div class="rateit col-md-6" data-rateit-value="2" data-rateit-readonly="true"></div>
                                    <div class="col-md-6"><a href="" data-toggle="modal" data-target="#myModal2"><span id="twoStar"></span> đánh giá</a></div>
                                </div>
                                <div class="row">
                                    <div class="rateit col-md-6" data-rateit-value="1" data-rateit-readonly="true"></div>
                                    <div class="col-md-6"><a href="" data-toggle="modal" data-target="#myModal1"><span id="oneStar"></span> đánh giá</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>

<!-- /.container -->
<!-- Footer -->
<!-- thống kê -->
<script>
    $(document).ready(function () {
        function refreshListUserRate() {
            $("#listUserRate1").empty();
            $("#listUserRate2").empty();
            $("#listUserRate3").empty();
            $("#listUserRate4").empty();
            $("#listUserRate5").empty();
        }
        function loadNumberStar() {
            var bookid = '@ViewBag.ID';
            $.ajax({
                type: "GET",
                url: "/api/RateAPIAPI/GetRateStar",
                data: { book_id: bookid },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log("aa", result);
                    $("#oneStar").text(result.oneStarCount);
                    $.each(result.listRateOneStar, function (i, v) {
                        $("#listUserRate1").append("<div>" + v + "</div>");
                    });
                    $("#twoStar").text(result.twoStarCount);
                    $.each(result.listRateTwoStar, function (i, v) {
                        $("#listUserRate2").append("<div>" + v + "</div>");
                    });
                    $("#threeStar").text(result.threeStarCount);
                    $.each(result.listRateThreeStar, function (i, v) {
                        $("#listUserRate3").append("<div>" + v + "</div>");
                    });
                    $("#fourStar").text(result.fourStarCount);
                    $.each(result.listRateFourStar, function (i, v) {
                        $("#listUserRate4").append("<div>" + v + "</div>");
                    });
                    $("#fiveStar").text(result.fiveStarCount);
                    $.each(result.listRateFiveStar, function (i, v) {
                        $("#listUserRate5").append("<div>" + v + "</div>");
                    });
                }
            });
        }
        refreshListUserRate();
        loadNumberStar();
        $("#btnRate").click(function () {
            var data = {};
            data.rate = $('#rateit_star1').rateit('value');
            data.bookid = '@ViewBag.ID';
            data.username = $("#fullname").html();
            data.userid = $("#userid").html();
            console.log("bookid",data);
            $.ajax({
                type: "POST",
                url: "/api/AdminAPI/SaveRate",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.isSuccess) {
                        alert("Bạn đã đánh giá sách!");
                        refreshListUserRate();
                        loadNumberStar();
                    }
                }
            });
        });

    });
</script>

<!--Modal xem dnh sách người đánh giá-->
<!-- 1 Sao-->
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="listUserRate1">
                <!--Danh sách người đánh giá-->
            </div>
        </div>

    </div>
</div>
<!-- 2 Sao-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="listUserRate2">
                <!--Danh sách người đánh giá-->
            </div>
        </div>

    </div>
</div>
<!-- 3 Sao-->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="listUserRate3">
                <!--Danh sách người đánh giá-->
            </div>
        </div>

    </div>
</div>
<!-- 4 Sao-->
<div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="listUserRate4">
                <!--Danh sách người đánh giá-->
            </div>
        </div>

    </div>
</div>
<!-- 5 Sao-->
<div id="myModal5" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="listUserRate5">
                <!--Danh sách người đánh giá-->
            </div>
        </div>

    </div>
</div>

